//- vim: et ts=2 sts=2 sw=2 fp=pug
//-
//- now you can add those in your mkfile:
//-
//-   %.phtml: %.pug
//-   %.html:
//-
//- i'm sorry i added a JS dependency in the workflow but maintaining pandoc
//- template with pug
//-
//- * make things much more concise and readable
//- * give a better chance to not mess with html
//-   (if the parser works, at least the tag order is ok)
//- * remove the need extra minification
//-
//- so it's worth it (anyone for a rust or raku version ?)
//-
//- i warmly recommend the indent-object plugin to edit pug content.
//-
//- 1: https://github.com/michaeljsmith/vim-indent-object

doctype html
|<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$>
head

  title $if(title-prefix)$$title-prefix$ – $endif$$pagetitle$

  meta(charset="utf-8")/
  meta(name="generator" content="pandoc")/
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")/

  |$for(author-meta)$#[meta(name="author" content="$author-meta$")/]$endfor$
  |$if(date-meta)$#[meta(name="dcterms.date" content="$date-meta$")/]$endif$
  |$if(keywords)$#[meta(name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$")/]$endif$

  style(type="text/css").
    code{white-space: pre-wrap;}
    span.smallcaps{font-variant: small-caps;}
    span.underline{text-decoration: underline;}
    div.column{display: inline-block; vertical-align: top; width: 50%;}
    $if(quotes)$q { quotes: "“" "”" "‘" "’"; }$endif$

  |$if(highlighting-css)$#[style(type="text/css") $highlighting-css$]$endif$
  |$for(css)$ #[link(rel="stylesheet" href="$css$")/]$endfor$
  |$if(math)$$math$$endif$
  |$for(header-includes)$$header-includes$$endfor$

body
  #page

    |$for(include-before)$$include-before$$endfor$

    |$if(title)$
    header
      h1.title $title$
      |$if(subtitle)$#[p.subtitle $subtitle$]$endif$
      |$for(author)$#[p.author $author$]$endfor$
      |$if(date)$#[p.date $date$]$endif$
    |$endif$

    |$if(toc)$#[nav(id="$idprefix$TOC") $table-of-contents$]$endif$
    |$body$
    |$for(include-after)$$include-after$$endfor$

|</html>

